body {
    margin: 0;
}


header {
    background-color: aliceblue;
    border: solid 1px black;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}


.image-box {
    width: 50%;
    border-radius: 10%;
}

.text-box {
    width: 50%;
    margin: 50px;
}

.Velkommen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px; 
}

.første {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}


.ank{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}


.tredje {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.fjerde {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.OVER {
    text-size-adjust: 
}

.p1{
    border: solid 1px black;
    border-radius: 8px;
}
 .p2 {
    border: solid 1px black;
    border-radius: 8px;
 }

 .p3 {
    border: solid 1px black;
    border-radius: 8px;
 }

 footer {
    justify-content: space-evenly;
    border-top: solid black 3px;
    display: flex;
 }